 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 html, body {
    height: 100%;
    width: 100%;
 }
 body{
    /* margin: 0;
    padding: 0; */
    /* width: 100vw;
    height: 100vh; */
    background-image:url(./Jarvis\ ai.jpg);
    background-size:cover;
    background-position: center;
     background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(210, 222, 231);
    position: relative;
    
 }
 .container{
    background-color: rgba(9, 46, 58, 0.785);
    padding: 70px;
    border-radius: 15px;
    position: absolute;
    left: 65%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    gap: 10px;
 }
 .container h1{
    padding-bottom: 10px;
    font-size: 50px;
    font-style:italic;
    font-weight: 800;
    letter-spacing: 5px;
 }
 button{
    font-size: 20px;
    font-weight: 900;
    padding: 20px 30px;
    margin-top: 25px;
    border-radius: 12px;
    border: none;
    background-color: rgb(28, 130, 28);
    color: hwb(0 82% 15%);
    transition: all 0.30s;
 }
 button:hover{
    background-color: #45a049;
 }